.movie-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
  }
  
  .movie-card {
	background-color: #fff;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
  }