.card {
	margin: 4rem 6rem;
	color: black;
}

.card h1 {
	font-size: 3rem;
	padding-bottom: 0.8rem;
}

.setOf3cards {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
}

.card-div {
	width: 32%;
	text-align: start;
	box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	cursor: pointer;
	padding: 1rem;
}

.card-div h2 {
	font-size: 1.3rem;
	padding: 1rem 0.2rem;
}

.card-image {
	height: 200px;
	overflow: hidden;
	border-radius: 6px;
}

.card-image img {
	width: 100%;
	height: 100%;
	transition: 0.3s ease-in-out;
	border-radius: 6px;
}

.card-image:hover img {
	transform: scale(1.3);
}

@media screen and (max-width: 700px) {
	.card {
		margin: 4rem 2rem;
	}
	
	.setOf3cards {
		flex-direction: column;
	}

	.card-div {
		width: 100%;
		margin-bottom: 1.5rem;
	}
}