.NavbarItems {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
	width: 100%;
	height: 90px;
	z-index: 9999;
	position: fixed;
	color: #333;
	background-color: rgba(255, 255, 255, 0);
}

.NavbarItems.scrolled {
	background-color: rgba(255, 255, 255, 1);
}

.NavbarItems:hover {
	background-color: white;
	transition: background-color 0.5s ease;
}

.NavbarItems:hover .navbar-logo, 
.NavbarItems:hover .nav-links {
	color: black;
	transition: color 0.2s ease;
}

.NavbarItems .fa, .NavbarItems i {
	color: #333;
}

.NavbarItems:hover .fa, 
.NavbarItems:hover i {
	color: black;
}

.navbar-logo {
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
	color: black;
	padding-right: 50px;
}

.navbar-logo img {
	padding-right: 20px;
}

.nav-menu {
	display: grid;
	grid-template-columns: repeat(6, auto);
	grid-gap: 40px;
	list-style: none;
	align-items: center; 
}

.nav-links {
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 300;
	padding: 0.7rem 1rem;
	white-space: nowrap;
	color: #333;
}

.nav-links i {
	padding-left: 20px;
	
}

.nav-links:hover {
	font-weight: bold;
	transition: all 0.2s ease-in-out;
}

.menu-icons {
	display: none;
}

@media screen and (max-width: 700px) {
	.NavbarItems {
		z-index: 9900;
		padding: 0;
		width: 100%;
		justify-content: space-around;
		position: fixed;
	}

	.NavbarItems .fa, .NavbarItems i {
		color: black;
	}

	.menu-icons {
		display: block;
		cursor: pointer;
	}

	.nav-menu {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		background-color: white;
		position: absolute;
		top: 0;
		left: -100%;
		opacity: 0;
		align-items: stretch;
		padding: 120px 0 30px 0;
		margin: 0;
		width: 100%;
		height: auto;
		transition: 0.2s ease-in-out;
	}

	.nav-menu.active {
		left: 0;
		opacity: 1;
		z-index: -1;
		transition: 0.2s ease-in-out;
	}

	.nav-links {
		display: block;
		width: 100%;
		padding: 2rem 0;
	}

	.nav-links:hover {
		font-weight: bold;
		transition: all 0.2s ease-in-out;
	}
}
